.snippet-edit-page {
    &__container {
    }
    &__title {
        @include adaptiveValue("font-size", 30, 22);
        font-weight: 700;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }
    &__form {
        background-color: $cardBackgroundColor;
        padding: toRem(20);
        border-radius: toRem(8);
        border: 1px solid $cardBackgroundDarkColor;
        display: grid;
        row-gap: toRem(15);
    }
    &__form-item {
    }
}
