.post-page {
    &__container {
    }

    &__comments {
    }
    &__add-comment {
        display: flex;
        gap: toRem(15);

        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }
    &__title {
        @include adaptiveValue("font-size", 25, 22);
        font-weight: 500;
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }

    &__comments-list {
        padding: toRem(15);
        border-radius: toRem(8);
        border: 1px solid $cardBackgroundDarkColor;

        display: grid;
        row-gap: toRem(10);
    }

    &__comment-item {
    }
}
