@use "sass:math";
@use "@styles/base/mixins.scss" as *;

// Global reset
@import "./libs/reset.css";

// Connection of general remote fonts (Google fonts)
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
    background-color: $mainBackgroundColor;
    min-width: #{$minWidth}px;
    color: $mainColor;
    font-family: $fontFamily;
    font-size: #{$fontSize}px;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
    > main {
        flex: 1 1 auto;
    }
    > * {
        min-width: 0;
    }
}

@if ($responsiveType==1) {
    // sensitive
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: #{$containerWidth}px;
            margin: 0 auto;
        }
        @if ($containerPadding>0) {
            @if ($maxWidthContainer>0) {
                padding-left: #{math.div($containerPadding, 2)}px;
                padding-right: #{math.div($containerPadding, 2)}px;
            } @else {
                @include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
                @include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
            }
        }
    }
} @else {
    // Break-poin
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: #{$containerWidth}px;
        } @else {
            @if ($containerPadding>0) {
                padding-left: #{math.div($containerPadding, 2)}px;
                padding-right: #{math.div($containerPadding, 2)}px;
            }
        }
        @media (max-width: toEm($pc)) {
            max-width: 970px;
        }
        @media (max-width: toEm($tablet)) {
            max-width: 750px;
        }
        @media (max-width: toEm($mobile)) {
            max-width: none;
            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding-left: #{math.div($containerPadding, 2)}px;
                padding-right: #{math.div($containerPadding, 2)}px;
            }
        }
    }
}

// General styles ========================================================================================================================================================
.title {
    @include adaptiveValue("font-size", 22, 18);
    font-weight: 500;
    &--big {
        @include adaptiveValue("font-size", 30, 22);
        font-weight: 700;
    }

    &--center {
        text-align: center;
    }
}
.link {
    position: relative;
    color: $blueColor;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100%;
        height: toRem(2);
        background-color: $blueColor;
        opacity: 0;
        transition:
            bottom 0.3s,
            opacity 0.3s;
    }
    @media (any-hover: hover) {
        &:hover {
            &::after {
                bottom: -2px;
                opacity: 1;
            }
        }
    }

    &--white {
        color: $contrastTextColor;
        &::after {
            background-color: $contrastTextColor;
        }
    }
}
.auth-redirect {
    display: flex;
    justify-self: center;
    column-gap: toRem(10);
}
